body {
  margin: 0;
  background: black;
}

#arena {
  background: url(images/fight-bg.png) center/cover;
  margin: auto;
  display: block;
}

@media (orientation: landscape) {
  #arena {
    height: 100vh;
  }
}

@media (orientation: portrait) {
  #arena {
    width: 100%;
  }
}